@font-face {
  font-family: "redacted script";
  src: url("redacted-script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.comment-text:not(:hover) {
  font-family: "redacted script";
}
